Repository calforcal/futbol, pull requests merged in 2023-04, with the labels that each got.

#41 test: add test spec for game class
  lib/game.rb
Labels: Iteration - 2 Spec

#42 Feature/game factory module
  lib/game_factory_module.rb
  lib/stat_tracker.rb
  spec/game_spec.rb
Labels: Iteration 2 - Class, Iteration 2 - Method

#43 Feature/team factory
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  lib/stat_tracker.rb
  lib/team.rb
  lib/team_factory_module.rb
  runner.rb
  spec/team_spec.rb
Labels: Iteration 2 - Class, Iteration 2 - Method, Iteration - 2 Spec

#45 Feature/game teams
  lib/game_teams.rb
  lib/game_teams_factory_module.rb
  lib/stat_tracker.rb
  lib/team_factory_module.rb
Labels: Iteration 2 - Class, Iteration 2 - Method

#44 Test/game factory specs
  data/dummy_games.csv
  spec/stat_tracker_spec.rb
Labels: Iteration - 2 Spec

#46 Feature/mc game stat tracker methods
  .gitignore
  coverage/.last_run.json
  coverage/.resultset.json
  coverage/index.html
  lib/game_factory_module.rb
  lib/game_teams.rb
  lib/game_teams_factory_module.rb
  lib/stat_tracker.rb
  lib/team_factory_module.rb
  runner.rb
  spec/stat_tracker_spec.rb
Labels: Iteration 2 - Method, Iteration - 2 Spec

#47 Feat: Adds the game teams spec. Error with game_id at the moment, add…
  lib/game_teams_factory_module.rb
  runner.rb
  spec/game_teams_spec.rb
Labels: Iteration - 2 Spec

#48 Feat game stat tracker methods aw
  lib/stat_tracker.rb
  spec/stat_tracker_spec.rb
Labels: Iteration 2 - Method, Iteration - 2 Spec

#49 Feat: Fixes game team spec and slight refactor to gameteam module.
  coverage/.resultset.json
  coverage/index.html
  fixture/game_teams_fixture.csv
  lib/game_teams.rb
  lib/game_teams_factory_module.rb
  spec/game_teams_spec.rb
  spec/stat_tracker_spec.rb
Labels: Iteration 2 - Class, Iteration 2 - Method, Iteration - 2 Spec

#50 Feature/mc season statistics methods
  lib/stat_tracker.rb
  spec/stat_tracker_spec.rb
Labels: Iteration 2 - Method, Iteration - 2 Spec

#51 Feature: AK league statistics methods
  coverage/.resultset.json
  coverage/index.html
  lib/game.rb
  lib/game_factory_module.rb
  lib/stat_tracker.rb
  spec/stat_tracker_spec.rb
Labels: Iteration 2 - Method, Iteration - 2 Spec

#52 Feature/ league stat tracker aw
  lib/stat_tracker.rb
  spec/stat_tracker_spec.rb
Labels: Iteration 2 - Method

#53 Feature/lowest scoring home method
  coverage/.resultset.json
  coverage/index.html
  lib/stat_tracker.rb
  spec/stat_tracker_spec.rb
Labels: Iteration 2 - Method, Iteration - 2 Spec
